@use './typography';
@forward "./layout";
@forward "./mixins";

body, html {
  @include typography.body-text()
}

$transitionStepSpeed: 0.5s;
$transitionStepEase: ease-in-out;
$transitionStep: $transitionStepSpeed $transitionStepEase;
