:root {
    --base-spacing: 1rem;
    --space-xs: calc(var(--base-spacing) * 0.3); /* 0.5rem */
    --space-sm: calc(var(--base-spacing) * 0.5); /* 0.5rem */
    --space-md: var(--base-spacing);             /* 1rem */
    --space-lg: calc(var(--base-spacing) * 1.5); /* 1.5rem */
    --space-xl: calc(var(--base-spacing) * 2.5); /* 2.5rem */
    --space-xxl: calc(var(--base-spacing) * 5);  /* 5rem */

    --base-font-size: 14px;
    --font-size-xs: calc(var(--base-font-size) * 0.5); /* 7px */
    --font-size-sm: calc(var(--base-font-size) * 0.85); /* 12px */
    --font-size-md: var(--base-font-size); /* 14px */
    --font-size-lg: calc(var(--base-font-size) * 1.25); /* 17px */
    --font-size-xl: calc(var(--base-font-size) * 1.6); /* 21px */
    --font-size-xxl: calc(var(--base-font-size) * 2); /* 28px */

    --border-radius-xs: 2px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 14px;
    --border-radius-xl: 24px;

    --color-text: #333;
    --color-text-contrast: #fff;
    --color-grey: #aaa;
    --color-dark-grey: #666;
    --color-light-grey: #e0e0e0;
    --color-card-bg: #fff;
    --color-page-bg: #f0f0f0;
    --color-primary: #4272ff;
    --color-primary-tint: #42eaff;
    --color-secondary: #ff7e42;
    --color-secondary-tint: #ffb343;

    --color-disabled-button: var(--color-light-grey);
    --color-success-shade: var(--app-green-600);
    --color-success: var(--app-green-400);
    --color-success-tint: var(--app-green-200);
    --color-warning-shade: var(--app-amber-600);
    --color-warning: var(--app-amber-400);
    --color-warning-tint: var(--app-amber-200);

    --color-shadow-light: rgba(0, 0, 0, 0.3);
    --color-shadow: rgba(0, 0, 0, 0.6);
    --color-glow-light: rgba(255,255,255, 0.3);
    --color-glow: rgba(255,255,255, 0.6);
    --color-disabled-overlay: rgba(245, 245, 245, 0.85);

    --screen-extra-small-min: 0px;
    --screen-extra-small-max: 400px;
    --screen-small-min: 401px;
    --screen-small-max: 600px;
    --screen-medium-min: 601px;
    --screen-medium-max: 1024px;
    --screen-large-min: 1025px;
    --screen-large-max: 1440px;
    --screen-extra-large-min: 1441px;
    --screen-extra-large-max: 1920px;

    --content-max-width: var(--screen-medium-max);
}
