@use './layout';

// these should match constants/environment.ts
$transitionStepSpeed: 0.5s;
$transitionResultsSpeed: 3s;
$transitionTotalSpeed: $transitionStepSpeed * 2 + $transitionResultsSpeed;

$transitionStepEase: ease-in-out;

$transitionStep: $transitionStepSpeed $transitionStepEase;
$transitionResults: $transitionResultsSpeed $transitionStepEase;

:root {
  --base-spacing: 1rem;
  --space-xs: calc(var(--base-spacing) * 0.3); /* 0.5rem */
  --space-sm: calc(var(--base-spacing) * 0.5); /* 0.5rem */
  --space-md: var(--base-spacing);             /* 1rem */
  --space-lg: calc(var(--base-spacing) * 1.5); /* 1.5rem */
  --space-xl: calc(var(--base-spacing) * 2.5); /* 2.5rem */
  --space-xxl: calc(var(--base-spacing) * 5);  /* 5rem */

  --base-font-size: 14px;
  --font-size-xs: calc(var(--base-font-size) * 0.5); /* 7px */
  --font-size-sm: calc(var(--base-font-size) * 0.85); /* 12px */
  --font-size-md: var(--base-font-size); /* 14px */
  --font-size-lg: calc(var(--base-font-size) * 1.25); /* 17px */
  --font-size-xl: calc(var(--base-font-size) * 2); /* 21px */
  --font-size-xxl: calc(var(--base-font-size) * 2.5); /* 28px */

  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 14px;
  --border-radius-xl: 24px;

  --color-black: #2f2f2f;
  --color-near-black: #333;
  --color-dark-grey: #525252;
  --color-grey: #939393;
  --color-light-grey: #e0e0e0;
  --color-near-white: #f1f1f1;
  --color-white: #fff;

  --color-primary-dark-shade: #357e60;
  --color-primary-shade: #419f78;
  --color-primary: #47ad83;
  --color-primary-tint: #4fbb8f;

  --color-power-dark-shade: #047796;
  --color-power-shade: #1aa1cb;
  --color-power: #00c4ff;
  --color-power-tint: #7fddff;
  --color-power-bright-tint: #baebff;

  --color-secondary-dark-shade: #b4aca1;
  --color-secondary-shade: #c9c1b5;
  --color-secondary: #e3d9c6;
  --color-secondary-tint: #f1e8d7;

  --color-tertiary-dark-shade: #9e2f2f;
  --color-tertiary-shade: #c73737;
  --color-tertiary: #e14040;
  --color-tertiary-tint: #ed6e6e;
  --color-tertiary-light-tint: #FFDDDDFF;

  --color-pathway-default: var(--color-world-tint);
  --color-pathway-selected: var(--color-secondary);
  --color-pathway-correct: var(--color-power);
  --color-pathway-incorrect: var(--color-tertiary);
  --color-pathway-border-default: var(--color-world-tint);
  --color-pathway-border-selected: var(--color-secondary-shade);
  --color-pathway-border-correct: var(--color-power-shade);
  --color-pathway-border-incorrect: var(--color-tertiary-shade);


  --color-page-bg: var(--color-primary);
  --color-world-shade: var(--color-black);
  --color-world: var(--color-near-black);
  --color-world-tint: var(--color-dark-grey);
  --color-text: var(--color-white);
  --color-text-inverse: var(--color-near-black);

  --color-disabled-button: var(--color-light-grey);
  --color-success-shade: var(--app-green-600);
  --color-success: var(--app-green-400);
  --color-success-tint: var(--app-green-200);
  --color-warning-shade: var(--app-amber-600);
  --color-warning: var(--app-amber-400);
  --color-warning-tint: var(--app-amber-200);

  --color-shadow-light: rgba(0, 0, 0, 0.3);
  --color-shadow: rgba(0, 0, 0, 0.6);
  --color-glow-light: rgba(255,255,255, 0.3);
  --color-glow: rgba(255,255,255, 0.6);
  --color-disabled-overlay: rgba(245, 245, 245, 0.85);

  --screen-extra-small-min: 0px;
  --screen-extra-small-max: 400px;
  --screen-small-min: 401px;
  --screen-small-max: 600px;
  --screen-medium-min: 601px;
  --screen-medium-max: 1024px;
  --screen-large-min: 1025px;
  --screen-large-max: 1440px;
  --screen-extra-large-min: 1441px;
  --screen-extra-large-max: 1920px;

  --content-max-width: var(--screen-medium-max);

  --hud-min-height: 8rem;
  --row-height: 10vh;
  --hud-height: max(var(--row-height), var(--hud-min-height));

  --term-size: 7rem;
}

@include layout.small-and-below {
  :root {
    --base-font-size: 12px;
    --hud-min-height: 6rem;
  }
}
